div {
  padding: 10px 0px 10px 0px;
  margin: 0px;
}

table {
  border-collapse: collapse;
/*  width: 100%;*/
}

table tr th, table tr td {
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.blank {
  border-width: 0px 0px 0px 0px;
}

.gl-table {
  width: 720px;
}

.gl-header-top {
  padding: 10px 0px 10px 0px;;
  margin: 100px;
}

.gl-title {
  border-bottom-width: 4px;
  border-bottom-style: double;
}

.gl-exit-col-1, .gl-exit-col-5 {
  width: 29px;
}

.gl-exit-col-2, .gl-exit-col-4 {
  width: 246px;
}

.gl-exit-col-3 {
  width: 170px;
}

.gl-solid-top {
  border-top-width: 1px;
}

.wo-table {
  width: 800px;
}

.wo-col-1, .wo-col-4, .wo-col-5 {
  width: 140px;
}

.wo-col-2 {
  width: 190px;
}

.wo-col-3, .wo-col-6 {
  width: 95px;
}

.wo-solid-top {
  border-top-width: 2px;
}

.wo-solid-right {
  border-right-width: 2px;
}

.wo-solid-bottom {
  border-bottom-width: 2px;
}

.wo-solid-left {
  border-left-width: 2px;
}

.wo-double-right {
  border-right-width: 3px;
  border-right-style: double;
}

.wo-double-left {
  border-left-width: 3px;
  border-left-style: double;
}

.wo-bg {
  color: white;
  background-color: #4F81BD;
}
