div {
  padding: 10px 0px 10px 0px;
  margin: 0px;
}

table {
  border-collapse: collapse;
/*  width: 100%;*/
}

table tr th, table tr td {
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.blank {
  border-width: 0px 0px 0px 0px;
}

.center {
  text-align: center;
  vertical-align: middle;
}

.center-left {
  text-align: left;
  vertical-align: middle;
}

.gl-table {
  width: 720px;
}

.gl-form-table {
  width: 100%;
}

.gl-header-top {
  padding: 10px 0px 10px 0px;;
  margin: 100px;
}

.gl-title {
  border-bottom-width: 4px;
  border-bottom-style: double;
}

.gl-exit-col-1, .gl-exit-col-5 {
  width: 4%;
}

.gl-exit-col-2, .gl-exit-col-4 {
  width: 34%;
}

.gl-exit-col-3 {
  width: 24%;
}

.gl-solid-top {
  border-top-width: 1px;
}

.wo-table {
  width: 800px;
}

.wo-form-table {
  width: 100%;
}

.wo-col-1, .wo-col-4, .wo-col-5 {
  width: 17%;
}

.wo-col-2 {
  width: 25%;
}

.wo-col-3, .wo-col-6 {
  width: 12%;
}

.wo-solid-top {
  border-top-width: 2px;
}

.wo-solid-right {
  border-right-width: 2px;
}

.wo-solid-bottom {
  border-bottom-width: 2px;
}

.wo-solid-left {
  border-left-width: 2px;
}

.wo-double-right {
  border-right-width: 3px;
  border-right-style: double;
}

.wo-double-left {
  border-left-width: 3px;
  border-left-style: double;
}

.wo-bg {
  color: white;
  background-color: #4F81BD;
}

.wo-form-textarea, .wo-form-text, .wo-form-number, .wo-form-select {
  height: 100%;
  width: 100%;
}
