<!DOCTYPE HTML>

{% load static %}
{% load workorder_extras %}

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="{% static 'maintenance/stylesheet.css' %}" />
	</head>
	<body>
    <div id="exit-checklist">
      <table class="gl-table">
        <tr>
          <th colspan="4" class="blank">Checklist de Salida</th>
        </tr>
        <tr>
          <td class="blank">Item</td>
          <td class="blank">Descripción</td>
          <td class="center">Ticket de mecánico</td>
          <td class="center">Ticket de Team Leader</td>
        </tr>
        {% for instruction in last_instruction_list %}
        <tr>
          <td class="blank">{{ forloop.counter }}</td>
          <td class="blank">{{ instruction.instruction_number.description }}</td>
          <th>X</th>
          <th>X</th>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="4" class="blank"><br></td>
        </tr>
        <tr>
          <td colspan="4">Observación</td>
        </tr>
        <tr>
          <td colspan="4"><br></td>
        </tr>
      </table>
      <table class="gl-table">
        <colgroup>
          <col class="gl-exit-col-1">
          <col class="gl-exit-col-2">
          <col class="gl-exit-col-3">
          <col class="gl-exit-col-4">
          <col class="gl-exit-col-5">
        </colgroup>
        <tr>
          <td colspan="5" class="blank"><br></td>
        </tr>
        <tr>
          <td class="blank"><br></td>
          <td class="blank center">{{ user.first_name }} {{ user.last_name }}</td>
          <td class="blank"><br></td>
          <td class="blank"><br></td>
          <td class="blank"><br></td>
        </tr>
        <tr>
          <td class="blank"><br></td>
          <th class="blank gl-solid-top">Mecánico</th>
          <td class="blank"><br></td>
          <th class="blank gl-solid-top">Firma</th>
          <td class="blank"><br></td>
        </tr>
        <tr>
          <td class="blank"><br></td>
          <td class="blank center">{{ workorder.team_leader.first_name }} {{ workorder.team_leader.last_name }}</td>
          <td class="blank"><br></td>
          <td class="blank"><br></td>
          <td class="blank"><br></td>
        </tr>
        <tr>
          <td class="blank"><br></td>
          <th class="blank gl-solid-top">Team Leader</th>
          <td class="blank"><br></td>
          <th class="blank gl-solid-top">Firma</th>
          <td class="blank"><br></td>
        </tr>
      </table>
    </div>
  </body>
</html>
