<!DOCTYPE HTML5>

{% load static %}

<header>
  <table class="gl-table">
    <tr>
      <td class="gl-header-top" colspan="2"></td>
      <td class="gl-header-top"></td>
    </tr>
    <tr>
      <th>
        <p><img src="{% static 'maintenance/images/latam.png' %}" name="latam" width="160" height="49"/><br></p>
      </th>
      <th>
        <p>PAUTA DE MANTENIMIENTO PREVENTIVO</p>
      </th>
      <th>
        <p><img src="{% static 'maintenance/images/andes.png' %}" name="andes" width="145" height="46"/></p>
      </th>
    </tr>
  </table>
</header>
