<!DOCTYPE HTML>

{% load static %}
{% load workorder_extras %}

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="{% static 'maintenance/stylesheet.css' %}" />
	</head>
	<body>
		<div id="guideline">
			<div id="gl-first-page">
				<div>
					<table class="gl-table">
						<tr>
							<th colspan="2" class="gl-title">
								Inspección Preventiva M{{ workorder.level }}<br>
								Familia {{ workorder.machine_number.family.code }} {{ workorder.machine_number.subfamily.name }}
							</th>
						</tr>
						<tr>
							<td>N° Equipo: {{ workorder.machine_number.machine_number }}</td>
							<td>Fecha de Ingreso: {{ workorder.in_datetime|date:"d/m/Y" }}</td>
						</tr>
						<tr>
							<td>N° Orden: {{ workorder.order_number }}</td>
							<td>Hora de Ingreso: {{ workorder.in_datetime|date:"H:i"}}</td>
						</tr>
						<tr>
							<td>Horómetro: {{ request.POST.hourmeter_to_date }}</td>
							<td>Nombre Mecánico: {{ user.first_name }} {{ user.last_name }}</td>
						</tr>
					</table>
				</div>
				<div>
					<table class="gl-table">
						<tr><td class="blank"><b>Repuestos Necesarios</b></td></tr>
						<tr>
							<th>Tipo</th>
							<th>Cantidad</th>
							<th>P/N FABRICA</th>
							<th>P/N SAGE</th>
						</tr>
						{% if machine_spare_part_list %}
							{% for machine_spare_part in machine_spare_part_list %}
							<tr>
								<td>{{ machine_spare_part.spare_part.spare_part_type }}</td>
								<td class="center">{{ machine_spare_part.quantity }}</td>
								<td class="center">{{ machine_spare_part.spare_part.factory_number }}</td>
								<td class="center">{{ machine_spare_part.spare_part.sage_number }}</td>
							</tr>
							{% endfor %}
						{% else %}
						<tr>
							<td class="center">-</td>
							<td class="center">-</td>
							<td class="center">-</td>
							<td class="center">-</td>
						</tr>
						{% endif %}
					</table>
				</div>
				<div>
					<table class="gl-table">
						<tr><td class="blank"><b>Herramientas a utilizar</b></td></tr>
						<tr>
							<th>N°</th>
							<th>Descripción</th>
							<th>Cantidad</th>
						</tr>
						<tr>
							<!-- insert tools here -->
							<td><br></td>
							<td><br></td>
							<td><br></td>
						</tr>
					</table>
				</div>
				<div>
					<table class="gl-table">
						<tr><td class="blank"><b>Insumos</b></td></tr>
						<tr>
							<th>Tipo</th>
							<th>Descripción</th>
							<th>Cantidad(Lt)</th>
						</tr>
						{% if machine_input_list %}
							{% for machine_input in machine_input_list %}
							<tr>
								<td class="center">{{ machine_input.input_number.input_type }}</td>
								<td class="center">{{ machine_input.input_number.description }}</td>
								<td class="center">{{ machine_input.quantity }}</td>
							</tr>
							{% endfor %}
						{% else %}
							<tr>
								<td class="center">-</td>
								<td class="center">-</td>
								<td class="center">-</td>
							</tr>
						{% endif %}
					</table>
				</div>
				<div>
					<table class="gl-table">
						<tr><td class="blank"><b>Observaciones</b></td></tr>
						<tr>
							<td>{{ request.POST.initial_observations }}</td>
						</tr>
					</table>
				</div>
				<div>
					<table class="gl-table">
						<tr><td class="blank"><b>Control de salida</b></td></tr>
						<tr>
							<td>Fecha de salida: {{ out_datetime|date:"d/m/Y" }}</td>
							<td>Nombre Team Leader: {{ workorder.team_leader.first_name }} {{ workorder.team_leader.last_name }}</td>
						</tr>
						<tr>
							<td>Hora de salida: {{ out_datetime|date:"H:i" }}</td>
							<td>Firma:</td>
						</tr>
					</table>
				</div>
			</div>
			<div id="gl-inspection-list">
				<div>
					<table class="gl-table">
						<tr>
							<th class="blank">
								Lista de Inspección – {{ workorder.machine_number.family.name }} – M{{ workorder.level }}<br>
								Inspección Preventiva M{{ workorder.level }}
							</th>
						</tr>
					</table>
				</div>
				<div>
					<table class="gl-table">
						<tr>
							<td class="blank"><b>Instrucciones:</b> Siga cuidadosamente la pauta, cumpliendo con todos los ítems de la revisión. Sí tuviera dudas al respecto de algún ítem de la pauta, consulte con su Team Leader</td>
						</tr>
					</table>
				</div>
				<div>
					<table class="gl-table">
						<tr><td class="blank"><b>Identificación del Equipo</b></td></tr>
						<tr><td>Numero: {{ workorder.machine_number.machine_number }}</td></tr>
						<tr><td>Horómetro: {{ request.POST.hourmeter_to_date }}</td></tr>
					</table>
					<br>
					<table class="gl-table">
						<tr><td>Nombre Mecánico Ejecutante: {{ user.first_name }} {{ user.last_name }}</td></tr>
						<tr><td>Fecha de Ejecución: {{ today|date:"d/m/Y" }}</td></tr>
					</table>
				</div>
				<div>
					<table class="gl-table">
						<tr>
							<td class="blank"><b>Inspección Inicial</b></td>
							<th class="blank">MEC</th>
							<th class="blank">TL</th>
						</tr>
						{% for instruction in first_instruction_list %}
						<tr>
							<td>{{ instruction.instruction_number.description }}</td>
							<th>X</th>
							<th>X</th>
						</tr>
						{% endfor %}
						{% for i_type in instruction_types %}
						<tr>
							<td class="blank"><b>{{ i_type }}</b></td>
							<th class="blank">MEC</th>
							<th class="blank">TL</th>
						</tr>
							{% for instruction in machine_instruction_list|ifilter:i_type %}
							<tr>
								<td>{{ instruction.instruction_number.description }}</td>
								<th>X</th>
								<th>X</th>
							</tr>
							{% endfor %}
						{% endfor %}
					</table>
				</div>
			</div>
			<div id="gl-lubrication-chart">
				<div>
					<!-- revisar esta parte v-->
					<table class="gl-table">
						<tr><td class="blank"><b>Carta de Lubricación</b></td></tr>
						{% for machine_lubrication_chart in machine_lubrication_chart_list %}
						<tr><td class="blank"><img src="{{ machine_lubrication_chart.lubrication_chart.image.url }}"/></td></tr>
						{% endfor %}
					</table>
					<!-- revisar esta parte ^ -->
				</div>
				<div>
					<table class="gl-table">
						{% for number, description in lubrication_chart_descriptions %}
						<tr>
							<td>{{ number }}</td>
							<td>{{ description }}</td>
							<th>X</th>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			<div id="exit-checklist">
				<table class="gl-table">
					<tr>
						<th colspan="4" class="blank">Checklist de Salida</th>
					</tr>
					<tr>
						<td class="blank">Item</td>
						<td class="blank">Descripción</td>
						<td class="center">Ticket de mecánico</td>
						<td class="center">Ticket de Team Leader</td>
					</tr>
					{% for instruction in last_instruction_list %}
					<tr>
						<td class="blank">{{ forloop.counter }}</td>
						<td class="blank">{{ instruction.instruction_number.description }}</td>
						<th>X</th>
						<th>X</th>
					</tr>
					{% endfor %}
					<tr>
						<td colspan="4" class="blank"><br></td>
					</tr>
					<tr>
						<td colspan="4">Observación</td>
					</tr>
					<tr>
						<td colspan="4">{{ request.POST.final_observations }}</td>
					</tr>
				</table>
				<table class="gl-table">
					<colgroup>
						<col class="gl-exit-col-1">
						<col class="gl-exit-col-2">
						<col class="gl-exit-col-3">
						<col class="gl-exit-col-4">
						<col class="gl-exit-col-5">
					</colgroup>
					<tr>
						<td colspan="5" class="blank"><br></td>
					</tr>
					<tr>
		        <td class="blank"><br></td>
		        <td class="blank center">{{ user.first_name }} {{ user.last_name }}</td>
		        <td class="blank"><br></td>
		        <td class="blank"><br></td>
		        <td class="blank"><br></td>
		      </tr>
					<tr>
		        <td class="blank"><br></td>
		        <th class="blank gl-solid-top">Mecánico</th>
		        <td class="blank"><br></td>
		        <th class="blank gl-solid-top">Firma</th>
		        <td class="blank"><br></td>
		      </tr>
					<tr>
		        <td class="blank"><br></td>
		        <td class="blank center">{{ workorder.team_leader.first_name }} {{ workorder.team_leader.last_name }}</td>
		        <td class="blank"><br></td>
		        <td class="blank"><br></td>
		        <td class="blank"><br></td>
		      </tr>
					<tr>
		        <td class="blank"><br></td>
		        <th class="blank gl-solid-top">Team Leader</th>
		        <td class="blank"><br></td>
		        <th class="blank gl-solid-top">Firma</th>
		        <td class="blank"><br></td>
		      </tr>
				</table>
			</div>
		</div>
	</body>
</html>
