<!DOCTYPE HTML5>

{% load static %}

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="{% static 'maintenance/stylesheet.css' %}" />
	</head>
	<body>
		<div>
			<table class="gl-table">
				<tr>
					<th colspan="2" class="gl-title">
						<p>Inspección Preventiva – M{{ workorder.level }}</p>
						<p>Familia {{ machine.family.code }} - {{ machine.subfamily.name }}</p>
					</th>
				</tr>
				<tr>
					<td>N° Equipo: {{ machine.machine_number }}</td>
					<td>Fecha de Ingreso: {{ workorder.in_datetime|date:"d/m/Y" }}</td>
				</tr>
				<tr>
					<td>N° Orden: {{ workorder.order_number }}</td>
					<td>Hora de Ingreso: {{ workorder.in_datetime|date:"H:i"}}</td>
				</tr>
				<tr>
					<td>Horómetro:</td>
					<td>Nombre Mecánico: {{ user.first_name }} {{ user.last_name }}</td>
				</tr>
			</table>
		</div>
		<div>
			<p><b>Repuestos Necesarios</b></p>
			<table class="gl-table">
				<tr>
					<td>Tipo</p></td>
					<td>Cant.</td>
					<td>P/N FABRICA</td>
					<td>P/N SAGE</td>
				</tr>
			{% if machine_spare_part_list %}
				{% for machine_spare_part in machine_spare_part_list %}
				<tr>
					<td>{{ machine_spare_part.spare_part.spare_part_type }}</td>
					<td>{{ machine_spare_part.quantity }}</td>
					<td>{{ machine_spare_part.spare_part.factory_number }}</td>
					<td>{{ machine_spare_part.spare_part.sage_number }}</td>
				</tr>
				{% endfor %}
			{% endif %}
			</table>
		</div>
		<div>
			<p><b>Herramientas a utilizar</b></p>
			<table class="gl-table">
				<tr>
					<td>N°</td>
					<td>Descripción</td>
					<td>Cantidad</td>
				</tr>
				<tr>
					<td><br></td>
					<td><br></td>
					<td><br></td>
				</tr>
			</table>
		</div>
		<div>
			<p><b>Insumos</b></p>
			<table class="gl-table">
				<tr>
					<td>Tipo</td>
					<td>Descripción</td>
					<td>Cantidad(Lt)</td>
				</tr>
			{% if machine_input_list %}
				{% for machine_input in machine_input_list %}
				<tr>
					<td>{{ machine_input.input_number.input_type }}</td>
					<td>{{ machine_input.input_number.description }}</td>
					<td>{{ machine_input.quantity }}</td>
				</tr>
				{% endfor %}
			{% endif %}
			</table>
		</div>
		<div>
			<p><b>Observaciones</b></p>
			<table class="gl-table">
				<tr>
					<td><br></td>
				</tr>
			</table>
		</div>
		<div>
			<p><b>Control de salida</b></p>
			<table class="gl-table">
				<tr>
					<td>Fecha de salida:</td>
					<td>Nombre Team Leader: {{ workorder.team_leader.first_name }} {{ workorder.team_leader.last_name }}</td>
				</tr>
				<tr>
					<td>Hora de salida:</td>
					<td>Firma:</td>
				</tr>
			</table>
		</div>
		<div>
			<table class="gl-table">
				<tr>
					<th class="blank">
						<p>Lista de Inspección – {{ workorder.machine_number.family.name }} – M{{ workorder.level }}</p>
						<p>Inspección Preventiva M{{ workorder.level }}</p>
					</th>
				</tr>
				<tr>
					<td class="blank"><b>Instrucciones:</b> Siga cuidadosamente la pauta, cumpliendo con todos los ítems de la revisión. Sí tuviera dudas al respecto de algún ítem de la pauta, consulte con su Team Leader</td>
				</tr>
			</table>
			<div>
				<p><b>Identificación del Equipo</b></p>
				<table class="gl-table">
					<tr>
						<td>Numero: {{ workorder.machine_number.machine_number }}</td>
					</tr>
					<tr>
						<td>Horómetro:</td>
					</tr>
				</table>
				<p><br></p>
				<table class="gl-table">
					<tr>
						<td>Nombre Mecánico Ejecutante: {{ user.first_name }} {{ user.last_name }}</td>
					</tr>
					<tr>
						<td>Fecha de Ejecución: {{ today|date:"d/m/Y" }}</td>
					</tr>
				</table>
			</div>
			<div>
				<table class="gl-table">
					<tr>
						<td class="blank"><b>Inspección Inicial</b></td>
						<td class="blank">MEC</td>
						<td class="blank">TL</td>
					</tr>
					<tr>
						<td>Anotar lectura horómetro</td>
						<td><br></td>
						<td><br></td>
					</tr>
				</table>
			</div>
		</div>
		<div>
			<p><b>Carta de Lubricación</b></p>

			<table class="gl-table">
				<tr>
					<td>***1***</td>
					<td>***Varillaje del freno***</td>
					<td>***12**</td>
					<td>***Tapón de llenado de aceite y el medidor de nivel de aceite***</td>
				</tr>
			</table>
		</div>
		<div>
			<table class="gl-table">
				<tr>
					<th colspan="4" class="blank">Checklist de Salida</th>
				</tr>
				<tr>
					<td class="blank">Item</td>
					<td class="blank">Descripción</td>
					<td>Ticket de mecánico</td>
					<td>Ticket de Team Leader</td>
				</tr>
				<tr>
					<td class="blank">1</td>
					<td class="blank">Extinguidor</td>
					<td><br></td>
					<td><br></td>
				</tr>
				<tr>
					<td colspan="4" class="blank"><br></td>
				</tr>
				<tr>
					<td colspan="4">Observación</td>
				</tr>
				<tr>
					<td colspan="4"><br></td>
				</tr>
			</table>
		</div>
		<div>
			<table class="gl-table">
				<colgroup>
					<col class="gl-exit-col-1">
					<col class="gl-exit-col-2">
					<col class="gl-exit-col-3">
					<col class="gl-exit-col-4">
					<col class="gl-exit-col-5">
				</colgroup>
				<tr>
	        <td class="blank"><br></td>
	        <td class="blank center">{{ user.first_name }} {{ user.last_name }}</td>
	        <td class="blank"><br></td>
	        <td class="blank"><br></td>
	        <td class="blank"><br></td>
	      </tr>
				<tr>
	        <td class="blank"><br></td>
	        <th class="blank gl-solid-top">Mecánico</th>
	        <td class="blank"><br></td>
	        <th class="blank gl-solid-top">Firma</th>
	        <td class="blank"><br></td>
	      </tr>
				<tr>
	        <td class="blank"><br></td>
	        <td class="blank center">{{ workorder.team_leader.first_name }} {{ workorder.team_leader.last_name }}</td>
	        <td class="blank"><br></td>
	        <td class="blank"><br></td>
	        <td class="blank"><br></td>
	      </tr>
				<tr>
	        <td class="blank"><br></td>
	        <th class="blank gl-solid-top">Team Leader</th>
	        <td class="blank"><br></td>
	        <th class="blank gl-solid-top">Firma</th>
	        <td class="blank"><br></td>
	      </tr>
			</table>
		</div>
	</body>
</html>
