<!DOCTYPE HTML>

{% load static %}

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'maintenance/stylesheet.css' %}" />
  </head>
  <footer id="gl-footer">
    Página <span id="gl-footer-page"></span> de <span id="gl-footer-topage"></span>
  </footer>
  <script src="{% static 'maintenance/js/jquery-3.1.1.js' %}"></script>
  <script src="{% static 'maintenance/js/gl-footer.js' %}"></script>
</html>
