<!DOCTYPE HTML5>

{% load static %}

<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<style type="text/css">
			body,div,table,thead,tbody,tfoot,tr,th,td,p { font-family:"Liberation Sans"; font-size:small }
			a.comment-indicator:hover + comment { background:#ffd; position:absolute; display:block; border:1px solid black; padding:0.5em;  }
			a.comment-indicator { background:red; display:inline-block; border:1px solid black; width:0.5em; height:0.5em;  }
			comment { display:none;  }
		</style>
		<link rel="stylesheet" type="text/css" href="{% static 'maintenance/stylesheet.css' %}" />
	</head>

	<body>
		<table>
<!--
			<colgroup width="141"></colgroup>
			<colgroup width="185"></colgroup>
			<colgroup width="94"></colgroup>
			<colgroup width="140"></colgroup>
			<colgroup width="141"></colgroup>
			<colgroup width="96"></colgroup>
-->
			<tr>
				<td rowspan=2><img src="{% static 'maintenance/images/andes.png' %}" width=121 height=48></td>
				<td><br></td>
				<td><br></td>
				<td><b>N° Orden</b></td>
				<td colspan=2><br></td>
			</tr>
			<tr>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
			</tr>
			<tr>
				<td colspan=6><b>Orden de Trabajo</b></td>
			</tr>
			<tr>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
			</tr>
			<tr>
				<td>Familia</td>
				<td></td>
				<td><br></td>
				<td>Horómetro</td>
				<td><br></td>
				<td><br></td>
			</tr>
			<tr>
				<td>Modelo</td>
				<td></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
			</tr>
			<tr>
				<td>N° Equipo</td>
				<td></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
			</tr>
			<tr>
				<td>ATO</td>
				<td></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
			</tr>
			<tr>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
			</tr>
			<tr>
				<td>Tipo de trabajo</td>
				<td>Preventivo</td>
				<td><br></td>
				<td><br></td>
				<td>Fecha</td>
				<td>Hora</td>
			</tr>
			<tr>
				<td>(Marcar con una X)</td>
				<td>Correctivo</td>
				<td><br></td>
				<td>Ingreso</td>
				<td><br></td>
				<td><br></td>
			</tr>
			<tr>
				<td><br></td>
				<td>Falla</td>
				<td><br></td>
				<td>Salida est</td>
				<td><br></td>
				<td><br></td>
			</tr>
			<tr>
				<td><br></td>
				<td>Daños</td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
			</tr>
			<tr>
				<td><br></td>
				<td>Modificacion</td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
			</tr>
			<tr>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
			</tr>
			<tr>
				<td colspan=6><b>Diagnóstico / Intervención.</b></td>
			</tr>
			<tr>
				<td colspan=6>Descripción de trabajo / falla</td>
			</tr>
			<tr>
				<td colspan=6><br></td>
			</tr>
			<tr>
				<td colspan=6><br></td>
			</tr>
			<tr>
				<td colspan=6><br></td>
			</tr>
			<tr>
				<td colspan=6><br></td>
			</tr>
			<tr>
				<td colspan=6>Trabajo desarrollado</td>
			</tr>
			<tr>
				<td colspan=6><br></td>
			</tr>
			<tr>
				<td colspan=6><br></td>
			</tr>
			<tr>
				<td colspan=6><br></td>
			</tr>
			<tr>
				<td colspan=6><br></td>
			</tr>
			<tr>
				<td colspan=6>Trabajo pendiente</td>
			</tr>
			<tr>
				<td colspan=6><br></td>
			</tr>
			<tr>
				<td colspan=6><br></td>
			</tr>
			<tr>
				<td colspan=6><br></td>
			</tr>
			<tr>
				<td colspan=6><br></td>
			</tr>
			<tr>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
			</tr>
			<tr>
				<td colspan=6><b>Repuestos Empleados.</b></td>
			</tr>
			<tr>
				<td>N° Parte</td>
				<td>Descripción</td>
				<td>Cantidad</td>
				<td>N° Parte</td>
				<td>Descripción</td>
				<td>Cantidad</td>
			</tr>
			<tr>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
			</tr>
			<tr>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
			</tr>
			<tr>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
			</tr>
			<tr>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
			</tr>
			<tr>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
			</tr>
			<tr>
				<td colspan=6><b>Lubricantes Empleados.</b></td>
				</tr>
			<tr>
				<td>Descripción</td>
				<td>Cantidad</td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
			</tr>
			<tr>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
			</tr>
			<tr>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
			</tr>
			<tr>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
			</tr>
			<tr>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
			</tr>
			<tr>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
			</tr>
			<tr>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
			</tr>
			<tr>
				<td colspan=6><b>Control de Salida.</b></td>
			</tr>
			<tr>
				<td><br></td>
				<td><br></td>
				<td>Fecha salida</td>
				<td><br></td>
				<td>Hora salida</td>
				<td><br></td>
			</tr>
			<tr>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
				<td><br></td>
			</tr>
			<tr>
				<td>Nombre Mecánico</td>
				<td>_________________________</td>
				<td><br></td>
				<td>Firma</td>
				<td>____________________</td>
				<td><br></td>
			</tr>
			<tr>
				<td>Nombre Team Leader</td>
				<td colspan=2>Carlos Orellana / Esteban Morales</td>
				<td>Firma</td>
				<td>____________________</td>
				<td><br></td>
			</tr>
		</table>
	</body>
</html>
