<tr class="spare_part_row">
  <td class="wo-solid-left"><select class="wo-form-select" id="spare_part_number_{{ suffix }}" name="spare_part_number_{{ suffix }}">
    <option selected value> -- select an option -- </option>
    {% for entry in spare_part_list %}
      {% if entry.factory_number == None %}
      <option value="{{entry.id}}">F: - / S: {{ entry.sage_number }}</option>
      {% else if entry.sage_number == None %}
      <option value="{{entry.id}}">F: {{ entry.factory_number }} / S: -</option>
      {% else %}
      <option value="{{entry.id}}">F: {{ entry.factory_number }} / S: {{ entry.sage_number }}</option>
      {% endif %}
    {% endfor %}
  </select></td>
  <td id="spare_part_description_{{ suffix }}"><br></td>
  <td class="wo-solid-right">
    <input class="wo-form-text" type="number" min="0" name="spare_part_quantity_{{ suffix }}" id="spare_part_quantity_{{ suffix }}">
  </td>
  <td colspan="3" class="blank"><br></td>
</tr>
