<!DOCTYPE HTML5>

{% load static %}
<!--
{% if user.is_authenticated %}

{% endif %}
-->
<html>
	<head>
		<meta charset=utf-8/>
		<link rel="stylesheet" type="text/css" href="{% static 'maintenance/stylesheet.css' %}" />
	</head>
	<body>
		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
		<form action="{% url 'maintenance:process_workorder' workorder.order_number%}" method="post">
			{% csrf_token %}
			<table class="wo-table">
				<colgroup>
					<col class="wo-col-1">
					<col class="wo-col-2">
					<col class="wo-col-3">
					<col class="wo-col-4">
					<col class="wo-col-5">
					<col class="wo-col-6">
				</colgroup>
				<tr>
					<td rowspan=2 class="blank"><img src="{% static 'maintenance/images/andes.png' %}" width=121 height=48></td>
					<td colspan="2" class="blank"><br></td>
					<td class="wo-bg"><b>N° Orden</b></td>
					<td colspan="2"><br>{{ workorder.order_number }}</td>
				</tr>
				<tr>
					<td colspan="5" class="blank"><br></td>
				</tr>
				<tr>
					<th colspan="6" class="blank">Orden de Trabajo</td>
				</tr>
				<tr>
					<td colspan="6" class="blank"><br></td>
				</tr>
				<tr>
					<td class="wo-solid-top wo-solid-left wo-bg">Familia</td>
					<td class="wo-solid-top">{{ workorder.machine_number.family.name }}</td>
					<td class="blank wo-solid-top"><br></td>
					<td class="wo-solid-top wo-bg">Horómetro</td>
					<td class="wo-solid-top"><input type="number" name="hourmeter_to_date"></td>
					<td class="blank wo-solid-top wo-solid-right"><br></td>
				</tr>
				<tr>
					<td class="wo-solid-left wo-bg">Modelo</td>
					<td>{{ workorder.machine_number.subfamily.name }}</td>
					<td colspan="4" class="blank wo-solid-right"><br></td>
				</tr>
				<tr>
					<td class="wo-solid-left wo-bg">N° Equipo</td>
					<td>{{ workorder.machine_number.machine_number }}</td>
					<td colspan="4" class="blank wo-solid-right"><br></td>
				</tr>
				<tr>
					<td class="wo-solid-left wo-bg">ATO</td>
					<td>{{ ato.code }}</td>
					<td colspan="4" class="blank wo-solid-right"><br></td>
				</tr>
				<tr>
					<td colspan="6" class="blank wo-solid-left wo-solid-right"><br></td>
				</tr>
				<tr>
					<td rowspan="2" class="wo-solid-left wo-bg">Tipo de trabajo<br>(Marcar con una X)</td>
					<td class="wo-bg">Preventivo</td>
					<td></td>
					<td class="blank"><br></td>
					<td class="wo-bg">Fecha</td>
					<td class="wo-solid-right wo-bg">Hora</td>
				</tr>
				<tr>
					<td class="wo-bg">Correctivo</td>
					<td></td>
					<td class="wo-bg">Ingreso</td>
					<td></td>
					<td class="wo-solid-right"></td>
				</tr>
				<tr>
					<td class="blank wo-solid-left"><br></td>
					<td class="wo-bg">Falla</td>
					<td></td>
					<td class="wo-bg">Salida est</td>
					<td></td>
					<td class="wo-solid-right"></td>
				</tr>
				<tr>
					<td class="blank wo-solid-left"><br></td>
					<td class="wo-bg">Daños</td>
					<td></td>
					<td colspan="3" class="blank wo-solid-right"><br></td>
				</tr>
				<tr>
					<td class="blank wo-solid-bottom wo-solid-left"><br></td>
					<td class="wo-solid-bottom wo-bg">Modificacion</td>
					<td class="wo-solid-bottom"></td>
					<td colspan="3" class="blank wo-solid-right wo-solid-bottom"><br></td>
				</tr>
				<tr>
					<td colspan="6" class="blank"><br></td>
				</tr>
				<tr>
					<td colspan="6" class="blank"><b>Diagnóstico / Intervención.</b></td>
				</tr>
				<tr>
					<td colspan="6" class="wo-solid-top wo-solid-right wo-solid-left wo-bg">Descripción de trabajo / falla</td>
				</tr>
				<tr>
					<td colspan="6" class="wo-solid-right wo-solid-left"><br></td>
				</tr>
				<tr>
					<td colspan="6" class="wo-solid-right wo-solid-left"><br></td>
				</tr>
				<tr>
					<td colspan="6" class="wo-solid-right wo-solid-left"><br></td>
				</tr>
				<tr>
					<td colspan="6" class="wo-solid-right wo-solid-left"><br></td>
				</tr>
				<tr>
					<td colspan="6" class="wo-solid-right wo-solid-left wo-bg">Trabajo desarrollado</td>
				</tr>
				<tr>
					<td colspan="6" class="wo-solid-right wo-solid-left"><br></td>
				</tr>
				<tr>
					<td colspan="6" class="wo-solid-right wo-solid-left"><br></td>
				</tr>
				<tr>
					<td colspan="6" class="wo-solid-right wo-solid-left"><br></td>
				</tr>
				<tr>
					<td colspan="6" class="wo-solid-right wo-solid-left"><br></td>
				</tr>
				<tr>
					<td colspan="6" class="wo-solid-right wo-solid-left wo-bg">Trabajo pendiente</td>
				</tr>
				<tr>
					<td colspan="6" class="wo-solid-right wo-solid-left"><br></td>
				</tr>
				<tr>
					<td colspan="6" class="wo-solid-right wo-solid-left"><br></td>
				</tr>
				<tr>
					<td colspan="6" class="wo-solid-right wo-solid-left"><br></td>
				</tr>
				<tr>
					<td colspan="6" class="wo-solid-right wo-solid-bottom wo-solid-left"><br></td>
				</tr>
				<tr>
					<td colspan="6" class="blank"><br></td>
				</tr>
				<tr>
					<td colspan="6" class="blank"><b>Repuestos Empleados.</b></td>
				</tr>
				<tr>
					<td class="wo-solid-top wo-solid-left wo-bg">N° Parte</td>
					<td class="wo-solid-top wo-bg">Descripción</td>
					<td class="wo-solid-top wo-double-right wo-bg">Cantidad</td>
					<td class="wo-solid-top wo-double-left wo-bg">N° Parte</td>
					<td class="wo-solid-top wo-bg">Descripción</td>
					<td class="wo-solid-top wo-solid-right wo-bg">Cantidad</td>
				</tr>
				<tr>
					<td class="wo-solid-left"><br></td>
					<td><br></td>
					<td class="wo-double-right"><br></td>
					<td class="wo-double-left"><br></td>
					<td><br></td>
					<td class="wo-solid-right"><br></td>
				</tr>
				<tr>
					<td class="wo-solid-left"><br></td>
					<td><br></td>
					<td class="wo-double-right"><br></td>
					<td class="wo-double-left"><br></td>
					<td><br></td>
					<td class="wo-solid-right"><br></td>
				</tr>
				<tr>
					<td class="wo-solid-left"><br></td>
					<td><br></td>
					<td class="wo-double-right"><br></td>
					<td class="wo-double-left"><br></td>
					<td><br></td>
					<td class="wo-solid-right"><br></td>
				</tr>
				<tr>
					<td class="wo-solid-left"><br></td>
					<td><br></td>
					<td class="wo-double-right"><br></td>
					<td class="wo-double-left"><br></td>
					<td><br></td>
					<td class="wo-solid-right"><br></td>
				</tr>
				<tr>
					<td class="wo-solid-bottom wo-solid-left"><br></td>
					<td class="wo-solid-bottom"><br></td>
					<td class="wo-solid-bottom wo-double-right"><br></td>
					<td class="wo-solid-bottom wo-double-left"><br></td>
					<td class="wo-solid-bottom"><br></td>
					<td class="wo-solid-right wo-solid-bottom wo-solid-right"><br></td>
				</tr>
				<tr>
					<td colspan="6" class="blank"><br></td>
				</tr>
				<tr>
					<td colspan="6" class="blank"><b>Lubricantes Empleados.</b></td>
					</tr>
				<tr>
					<td class="wo-solid-top wo-solid-left wo-bg">Descripción</td>
					<td class="wo-solid-top wo-solid-right wo-bg">Cantidad</td>
					<td colspan="4" class="blank"><br></td>
				</tr>
				<tr>
					<td class="wo-solid-left"><br></td>
					<td class="wo-solid-right"><br></td>
					<td colspan="4" class="blank"><br></td>
				</tr>
				<tr>
					<td class="wo-solid-left"><br></td>
					<td class="wo-solid-right"><br></td>
					<td colspan="4" class="blank"><br></td>
				</tr>
				<tr>
					<td class="wo-solid-left"><br></td>
					<td class="wo-solid-right"><br></td>
					<td colspan="4" class="blank"><br></td>
				</tr>
				<tr>
					<td class="wo-solid-left"><br></td>
					<td class="wo-solid-right"><br></td>
					<td colspan="4" class="blank"><br></td>
				</tr>
				<tr>
					<td class="wo-solid-bottom wo-solid-left"><br></td>
					<td class="wo-solid-right wo-solid-bottom"><br></td>
					<td colspan="4" class="blank"><br></td>
				</tr>
				<tr>
					<td colspan="6" class="blank"><br></td>
				</tr>
				<tr>
					<td colspan="6" class="blank"><b>Control de Salida.</b></td>
				</tr>
				<tr>
					<td colspan="2" class="blank wo-solid-top wo-solid-left"><br></td>
					<td class="wo-solid-top wo-bg">Fecha salida</td>
					<td class="wo-solid-top"><br></td>
					<td class="wo-solid-top wo-bg">Hora salida</td>
					<td class="wo-solid-top wo-solid-right"><br></td>
				</tr>
				<tr>
					<td colspan="6" class="blank wo-solid-right wo-solid-left"><br></td>
				</tr>
				<tr>
					<td class="blank wo-solid-left">Nombre Mecánico</td>
					<td colspan="2" class="blank">_________________________</td>
					<td class="blank">Firma</td>
					<td colspan="2" class="blank wo-solid-right">____________________</td>
				</tr>
				<tr>
					<td class="blank wo-solid-bottom wo-solid-left">Nombre Team Leader</td>
					<td colspan="2" class="blank wo-solid-bottom">Carlos Orellana / Esteban Morales</td>
					<td class="blank wo-solid-bottom">Firma</td>
					<td colspan="2" class="blank wo-solid-right wo-solid-bottom">____________________</td>
				</tr>
			</table>
			<input type="submit" value="Process order">
		</form>
	</body>
</html>
