<!DOCTYPE HTML5>

{% load static %}
{% load workorder_extras %}

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="{% static 'maintenance/stylesheet.css' %}" />
	</head>
	<body>
		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
		<form action="{% url 'maintenance:process_workorder' workorder.order_number %}" method="post" accept-charset="UTF-8" id="workorder-form">
			{% csrf_token %}
			{% if workorder.work_type.name == 'Preventivo' %}
			<p class="center"><button type="button" class="switch_button" name="switch_button">Switch between views</button></p>
			{% endif %}
			<div id="workorder">
				<table class="wo-form-table">
					<tr>
						<td rowspan=2 class="blank"><img src="{% static 'maintenance/images/andes.png' %}" width=121 height=48></td>
						<td colspan="2" class="blank"><br></td>
						<td class="wo-bg"><b>N° Orden</b></td>
						<td colspan="2" class="center-left">{{ workorder.order_number }}</td>
					</tr>
					<tr>
						<td colspan="5" class="blank"><br></td>
					</tr>
					<tr>
						<th colspan="6" class="blank">Orden de Trabajo</td>
					</tr>
					<tr>
						<td colspan="6" class="blank"><br></td>
					</tr>
					<tr>
						<td class="wo-solid-top wo-solid-left wo-bg">Familia</td>
						<td class="wo-solid-top">{{ workorder.machine_number.family.name }}</td>
						<td class="blank wo-solid-top"><br></td>
						<td class="wo-solid-top wo-bg">Horómetro</td>
						<td class="wo-solid-top"><input class="wo-form-number" type="number" min="0" name="hourmeter_to_date" id="wo-hourmeter" required></td>
						<td class="blank wo-solid-top wo-solid-right"><br></td>
					</tr>
					<tr>
						<td class="wo-solid-left wo-bg">Modelo</td>
						<td>{{ workorder.machine_number.subfamily.name }}</td>
						<td colspan="4" class="blank wo-solid-right"><br></td>
					</tr>
					<tr>
						<td class="wo-solid-left wo-bg">N° Equipo</td>
						<td>{{ workorder.machine_number.machine_number }}</td>
						<td colspan="4" class="blank wo-solid-right"><br></td>
					</tr>
					<tr>
						<td class="wo-solid-left wo-bg">ATO</td>
						<td>{{ airport.code }}</td>
						<td colspan="4" class="blank wo-solid-right"><br></td>
					</tr>
					<tr>
						<td colspan="6" class="blank wo-solid-left wo-solid-right"><br></td>
					</tr>
					<tr>
						<td rowspan="2" class="wo-solid-left wo-bg">Tipo de trabajo<br>(Marcar con una X)</td>
						<td class="wo-bg">Preventivo</td>
						<td class="center">
							<input type="checkbox"
								{% if workorder.work_type.name == "Preventivo" %}
									checked
								{% endif %}
							readonly onclick="return false">
						</td>
						<td class="blank"><br></td>
						<td class="wo-bg">Fecha</td>
						<td class="wo-solid-right wo-bg">Hora</td>
					</tr>
					<tr>
						<td class="wo-bg">Correctivo</td>
						<td class="center">
							<input type="checkbox"
								{% if workorder.work_type.name == "Correctivo" %}
									checked
								{% endif %}
							readonly onclick="return false">
						</td>
						<td class="wo-bg">Ingreso</td>
						<td>{{ workorder.in_datetime|date:"Y-m-d"}}</td>
						<td class="wo-solid-right">{{ workorder.in_datetime|date:"H:i" }}</td>
					</tr>
					<tr>
						<td class="blank wo-solid-left"><br></td>
						<td class="wo-bg">Falla</td>
						<td class="center"><input type="checkbox" name="is_falla" value=True></td>
						<td class="wo-bg">Salida est</td>
						<td><input id="wo-out-date" type="date" name="output_date" required placeholder='YYYY-MM-DD' pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"></td>
						<td class="wo-solid-right"><input id="wo-out-time" type="time" name="output_time" required placeholder='HH:MM' pattern="(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9])"></td>
					</tr>
					<tr>
						<td class="blank wo-solid-left"><br></td>
						<td class="wo-bg">Daños</td>
						<td class="center"><input type="checkbox" name="is_dannos" value=True></td>
						<td colspan="3" class="blank wo-solid-right"><br></td>
					</tr>
					<tr>
						<td class="blank wo-solid-bottom wo-solid-left"><br></td>
						<td class="wo-solid-bottom wo-bg">Modificacion</td>
						<td class="wo-solid-bottom center"><input type="checkbox" name="is_modificacion" value=True></td>
						<td colspan="3" class="blank wo-solid-right wo-solid-bottom"><br></td>
					</tr>
					<tr>
						<td colspan="6" class="blank"><br></td>
					</tr>
					<tr>
						<td colspan="6" class="blank"><b>Diagnóstico / Intervención.</b></td>
					</tr>
					<tr>
						<td colspan="3" class="blank wo-solid-top wo-solid-left wo-bg">Descripción de trabajo / falla</td>
						<td colspan="3" class="blank center wo-solid-top wo-solid-right wo-bg">
							<button type="button" name="add_description" id="work_description_add_row">Add another Description</button>
							<button type="button" name="del_description" id="work_description_del_row">Remove last Description</button>
						</td>
					</tr>
					<tr class="work_description_row">
						<td colspan="6" class="wo-solid-right wo-solid-left">
							<input class="wo-form-text" type="text" name="work_description_1" id="work_description_1">
						</td>
					</tr>
					<tr>
						<td colspan="6" class="wo-solid-right wo-solid-left wo-bg">Trabajo desarrollado</td>
					</tr>
					<tr>
						<td colspan="6" class="wo-solid-right wo-solid-left">
							<textarea class="wo-form-textarea" name="developed_work" rows="4" required></textarea>
						</td>
					</tr>
					<tr>
						<td colspan="6" class="wo-solid-right wo-solid-left wo-bg">Trabajo pendiente</td>
					</tr>
					<tr>
						<td colspan="6" class="wo-solid-right wo-solid-left wo-solid-bottom">
							<textarea class="wo-form-textarea" name="pending_job" rows="4"></textarea>
						</td>
					</tr>
					<tr>
						<td colspan="6" class="blank"><br></td>
					</tr>
					<tr>
						<td colspan="6" class="blank"><b>Repuestos Empleados.</b></td>
					</tr>
					<tr>
						<td class="wo-solid-top wo-solid-left wo-bg">N° Parte</td>
						<td class="wo-solid-top wo-bg">Descripción</td>
						<td class="wo-solid-top wo-solid-right wo-bg">Cantidad</td>
						<td colspan="3" class="blank center">
							<button type="button" name="add_spare_part" id="spare_part_add_row">Add another Spare Part</button>
							<button type="button" name="del_spare_part" id="spare_part_del_row">Remove last Spare Part</button>
						</td>
					</tr>
					{% if workorder.work_type.name == 'Preventivo' %}
						{% for machine_spare_part in machine_spare_part_list %}
						<tr class="spare_part_row">
							<td class="wo-solid-left">F: {{ machine_spare_part.spare_part.factory_number }} / S: {{ machine_spare_part.spare_part.sage_number }}</td>
							<td>{{ machine_spare_part.spare_part.spare_part_type }}</td>
							<td class="wo-solid-right">{{ machine_spare_part.quantity }}</td>
							<td colspan="3" class="blank"><br></td>
						</tr>
						{% endfor %}
					{% endif %}
					<tr class="spare_part_row">
						<td class="wo-solid-left"><select class="wo-form-select" name="spare_part_number_1" id="spare_part_number_1">
							<option selected value> -- select an option -- </option>
							{% for entry in spare_parts %}
							<option value="{{entry.id}}">F: {{ entry.factory_number }} / S: {{ entry.sage_number }}</option>
							{% endfor %}
						</select></td>
						<td id="spare_part_description_1"><br></td>
						<td class="wo-solid-right">
							<input class="wo-form-number" type="number" min="0" name="spare_part_quantity_1" id="spare_part_quantity_1">
						</td>
						<td colspan="3" class="blank"><br></td>
					</tr>
					<tr>
						<td colspan="3" class="blank wo-solid-top"><br></td>
						<td colspan="3" class="blank"><br></td>
					</tr>
					<tr>
						<td colspan="6" class="blank"><b>Lubricantes Empleados.</b></td>
					</tr>
					<tr>
						<td colspan="2" class="wo-solid-top wo-solid-left wo-bg">Descripción</td>
						<td class="wo-solid-top wo-solid-right wo-bg">Cantidad</td>
						<td colspan="3" class="blank center">
							<button type="button" name="add_input" id="input_add_row">Add another Input</button>
							<button type="button" name="del_input" id="input_del_row">Remove last Input</button>
						</td>
					</tr>
					{% if workorder.work_type.name == 'Preventivo' %}
						{% for machine_input in machine_input_list %}
						<tr class="input_row">
							<td colspan="2" class="wo-solid-left">{{ machine_input.input_number.input_type }}</td>
							<td class="wo-solid-right">{{ machine_input.quantity }}</td>
							<td colspan="3" class="blank"><br></td>
						</tr>
						{% endfor %}
					{% endif %}
					<tr class="input_row">
						<td colspan="2" class="wo-solid-left"><select class="wo-form-select" name="input_description_1" id="input_description_1">
							<option selected value> -- select an option -- </option>
							{% for entry in inputs %}
							<option value="{{ entry.input_type }}">{{ entry.input_type }}</option>
							{% endfor %}
						</select></td>
						<td class="wo-solid-right"><input class="wo-form-number" type="number" min="0" name="input_quantity_1" id="input_quantity_1"></td>
						<td colspan="3" class="blank"><br></td>
					</tr>
					<tr>
						<td colspan="3" class="blank wo-solid-top"><br></td>
						<td colspan="3" class="blank"><br></td>
					</tr>
				</table>
			</div>
			{% if workorder.work_type.name == 'Preventivo' %}
			<div id="guideline" hidden>
				<div>
					<table class="gl-form-table">
						<tr>
							<th colspan="2" class="gl-title">
								<p>Inspección Preventiva – M{{ workorder.level }}</p>
								<p>Familia {{ workorder.machine_number.family.code }} - {{ workorder.machine_number.subfamily.name }}</p>
							</th>
						</tr>
						<tr>
							<td>N° Equipo: {{ workorder.machine_number.machine_number }}</td>
							<td>Fecha de Ingreso: {{ workorder.in_datetime|date:"d/m/Y"}}</td>
						</tr>
						<tr>
							<td>N° Orden: {{ workorder.order_number }}</td>
							<td>Hora de Ingreso: {{ workorder.in_datetime|date:"H:i"}}</td>
						</tr>
						<tr>
							<td class="gl-hourmeter">Horómetro:</td>
							<td>Nombre Mecánico: {{ user.first_name }} {{ user.last_name }}</td>
						</tr>
					</table>
				</div>
				<div>
					<p><b>Repuestos Necesarios</b></p>
					<table class="gl-form-table">
						<tr>
							<td>Tipo</td>
							<td>Cant.</td>
							<td>P/N FABRICA</td>
							<td>P/N SAGE</td>
						</tr>
					{% if machine_spare_part_list %}
						{% for machine_spare_part in machine_spare_part_list %}
						<tr>
							<td>{{ machine_spare_part.spare_part.spare_part_type }}</td>
							<td>{{ machine_spare_part.quantity }}</td>
							<td>{{ machine_spare_part.spare_part.factory_number }}</td>
							<td>{{ machine_spare_part.spare_part.sage_number }}</td>
						</tr>
						{% endfor %}
					{% endif %}
					</table>
				</div>
				<div>
					<p><b>Herramientas a utilizar</b></p>
					<table class="gl-form-table">
						<tr>
							<td>N°</td>
							<td>Descripción</td>
							<td>Cantidad</td>
						</tr>
						<tr>
							<td><br></td>
							<td><br></td>
							<td><br></td>
						</tr>
					</table>
				</div>
				<div>
					<p><b>Insumos</b></p>
					<table class="gl-form-table">
						<tr>
							<td>Tipo</td>
							<td>Descripción</td>
							<td>Cantidad(Lt)</td>
						</tr>
					{% if machine_input_list %}
						{% for machine_input in machine_input_list %}
						<tr>
							<td>{{ machine_input.input_number.input_type }}</td>
							<td>{{ machine_input.input_number.description }}</td>
							<td>{{ machine_input.quantity }}</td>
						</tr>
						{% endfor %}
					{% endif %}
					</table>
				</div>
				<div>
					<p><b>Observaciones</b></p>
					<table class="gl-form-table">
						<tr>
							<td><br></td>
						</tr>
					</table>
				</div>
				<div>
					<p><b>Control de salida</b></p>
					<table class="gl-form-table">
						<tr>
							<td class="gl-out-date">Fecha de salida:</td>
							<td>Nombre Team Leader: {{ workorder.team_leader.first_name }} {{ workorder.team_leader.last_name }}</td>
						</tr>
						<tr>
							<td class="gl-out-time">Hora de salida:</td>
							<td>Firma:</td>
						</tr>
					</table>
				</div>
				<div>
					<table class="gl-form-table">
						<tr>
							<th class="blank">
								<p>Lista de Inspección – {{ workorder.machine_number.family.name }} – M{{ workorder.level }}</p>
								<p>Inspección Preventiva M{{ workorder.level }}</p>
							</th>
						</tr>
						<tr>
							<td class="blank"><b>Instrucciones:</b> Siga cuidadosamente la pauta, cumpliendo con todos los ítems de la revisión. Sí tuviera dudas al respecto de algún ítem de la pauta, consulte con su Team Leader</p></td>
						</tr>
					</table>
					<div>
						<p><b>Identificación del Equipo</b></p>
						<table class="gl-form-table">
							<tr>
								<td>Numero: {{ workorder.machine_number.machine_number }}</td>
							</tr>
							<tr>
								<td class="gl-hourmeter">Horómetro:</td>
							</tr>
						</table>
						<p><br></p>
						<table class="gl-form-table">
							<tr>
								<td>Nombre Mecánico Ejecutante: {{ user.first_name }} {{ user.last_name }}</td>
							</tr>
							<tr>
								<td>Fecha de Ejecución: {{ today|date:"d/m/Y" }}</td>
							</tr>
						</table>
					</div>
					<div>
						<table class="gl-form-table">
							<tr>
								<td class="blank"><b>Inspección Inicial</b></td>
								<td class="blank center">MEC</td>
								<td class="blank center">TL</td>
							</tr>
							{% for instruction in first_instruction_list %}
							<tr>
								<td>{{ instruction.instruction_number.description }}</td>
								<td class="center"><input type="checkbox" required></td>
								<td class="center"><input type="checkbox" required></td>
							</tr>
							{% endfor %}
							{% for i_type in instruction_types %}
							<tr>
								<td class="blank"><b>{{ i_type }}</b></td>
								<td class="blank center">MEC</td>
								<td class="blank center">TL</td>
							</tr>
								{% for instruction in machine_instruction_list|ifilter:i_type %}
									<tr>
										<td>{{ instruction.instruction_number.description }}</td>
										<td class="center"><input type="checkbox" required></td>
										<td class="center"><input type="checkbox" required></td>
									</tr>
								{% endfor %}
							{% endfor %}
						</table>
					</div>
				</div>
				<div>
					<p><b>Carta de Lubricación</b></p>
					{% for machine_lubrication_chart in machine_lubrication_chart_list %}
					<p><img src="{{ machine_lubrication_chart.lubrication_chart.image.url }}"/></p>
					{% endfor %}
					<table class="gl-form-table">
						{% for number, description in lubrication_chart_descriptions %}
						<tr>
							<td>{{ number }}</td>
							<td>{{ description }}</td>
							<td class="center"><input type="checkbox" required></td>
						</tr>
						{% endfor %}
					</table>
				</div>
				<div>
					<table class="gl-form-table">
						<tr>
							<th colspan="4" class="blank">Checklist de Salida</th>
						</tr>
						<tr>
							<td class="blank">Item</td>
							<td class="blank">Descripción</td>
							<td>Ticket de mecánico</td>
							<td>Ticket de Team Leader</td>
						</tr>
						{% for instruction in last_instruction_list %}
						<tr>
							<td class="blank">{{ forloop.counter }}</td>
							<td class="blank">{{ instruction.instruction_number.description }}</td>
							<td class="center"><input type="checkbox" required></td>
							<td class="center"><input type="checkbox" required></td>
						</tr>
						{% endfor %}
						<tr>
							<td colspan="4" class="blank"><br></td>
						</tr>
						<tr>
							<td colspan="4">Observación</td>
						</tr>
						<tr>
							<td colspan="4"><br></td>
						</tr>
					</table>
				</div>
				<div>
					<table class="gl-form-table">
						<colgroup>
							<col class="gl-exit-col-1">
							<col class="gl-exit-col-2">
							<col class="gl-exit-col-3">
							<col class="gl-exit-col-4">
							<col class="gl-exit-col-5">
						</colgroup>
						<tr>
							<td class="blank"><br></td>
							<td class="blank center">{{ user.first_name }} {{ user.last_name }}</td>
							<td class="blank"><br></td>
							<td class="blank"><br></td>
							<td class="blank"><br></td>
						</tr>
						<tr>
							<td class="blank"><br></td>
							<th class="blank gl-solid-top">Mecánico</th>
							<td class="blank"><br></td>
							<th class="blank gl-solid-top">Firma</th>
							<td class="blank"><br></td>
						</tr>
						<tr>
							<td class="blank"><br></td>
							<td class="blank center">{{ workorder.team_leader.first_name }} {{ workorder.team_leader.last_name }}</td>
							<td class="blank"><br></td>
							<td class="blank"><br></td>
							<td class="blank"><br></td>
						</tr>
						<tr>
							<td class="blank"><br></td>
							<th class="blank gl-solid-top">Team Leader</th>
							<td class="blank"><br></td>
							<th class="blank gl-solid-top">Firma</th>
							<td class="blank"><br></td>
						</tr>
					</table>
				</div>
			</div>
			{% endif %}
			{% if workorder.work_type.name == 'Preventivo' %}
			<p class="center">
				<button type="button" class="switch_button" name="switch_button">Switch between views</button>
				<input type="submit" value="Confirm order">
			</p>
			{% else %}
			<p class="center"><input type="submit" value="Confirm order"></p>
			{% endif %}
		</form>
		<script src="{% static 'maintenance/js/jquery-3.1.1.js' %}"></script>
		<script src="{% static 'maintenance/js/workorder-jquery.js' %}"></script>
	</body>
</html>
