<!DOCTYPE HTML5>

{% load static %}
<!--
{% if user.is_authenticated %}

{% endif %}
-->
<html>
	<head>
		<meta charset=utf-8/>
		<link rel="stylesheet" type="text/css" href="{% static 'maintenance/stylesheet.css' %}" />
	</head>
	<body>
		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
		<form action="{% url 'maintenance:confirm_workorder' workorder.order_number %}" method="post" accept-charset="UTF-8">
			{% csrf_token %}
			<table class="wo-table">
				<colgroup>
					<col class="wo-col-1">
					<col class="wo-col-2">
					<col class="wo-col-3">
					<col class="wo-col-4">
					<col class="wo-col-5">
					<col class="wo-col-6">
				</colgroup>
				<tr>
					<td rowspan=2 class="blank"><img src="{% static 'maintenance/images/andes.png' %}" width=121 height=48></td>
					<td colspan="2" class="blank"><br></td>
					<td class="wo-bg"><b>N° Orden</b></td>
					<td colspan="2" class="center-left">{{ workorder.order_number }}</td>
				</tr>
				<tr>
					<td colspan="5" class="blank"><br></td>
				</tr>
				<tr>
					<th colspan="6" class="blank">Orden de Trabajo</td>
				</tr>
				<tr>
					<td colspan="6" class="blank"><br></td>
				</tr>
				<tr>
					<td class="wo-solid-top wo-solid-left wo-bg">Familia</td>
					<td class="wo-solid-top">{{ workorder.machine_number.family.name }}</td>
					<td class="blank wo-solid-top"><br></td>
					<td class="wo-solid-top wo-bg">Horómetro</td>
					<td class="wo-solid-top"><input class="wo-form-text" type="number" min="0" name="hourmeter_to_date" required></td>
					<td class="blank wo-solid-top wo-solid-right"><br></td>
				</tr>
				<tr>
					<td class="wo-solid-left wo-bg">Modelo</td>
					<td>{{ workorder.machine_number.subfamily.name }}</td>
					<td colspan="4" class="blank wo-solid-right"><br></td>
				</tr>
				<tr>
					<td class="wo-solid-left wo-bg">N° Equipo</td>
					<td>{{ workorder.machine_number.machine_number }}</td>
					<td colspan="4" class="blank wo-solid-right"><br></td>
				</tr>
				<tr>
					<td class="wo-solid-left wo-bg">ATO</td>
					<td>{{ airport.code }}</td>
					<td colspan="4" class="blank wo-solid-right"><br></td>
				</tr>
				<tr>
					<td colspan="6" class="blank wo-solid-left wo-solid-right"><br></td>
				</tr>
				<tr>
					<td rowspan="2" class="wo-solid-left wo-bg">Tipo de trabajo<br>(Marcar con una X)</td>
					<td class="wo-bg">Preventivo</td>
					<td class="center">
						<input type="checkbox"
							{% if workorder.work_type.name == "Preventivo" %}
								checked
							{% endif %}
						readonly onclick="return false">
					</td>
					<td class="blank"><br></td>
					<td class="wo-bg">Fecha</td>
					<td class="wo-solid-right wo-bg">Hora</td>
				</tr>
				<tr>
					<td class="wo-bg">Correctivo</td>
					<td class="center">
						<input type="checkbox"
							{% if workorder.work_type.name == "Correctivo" %}
								checked
							{% endif %}
						readonly onclick="return false">
					</td>
					<td class="wo-bg">Ingreso</td>
					<td>{{ workorder.in_datetime|date:"Y-m-d"}}</td>
					<td>{{ workorder.in_datetime|date:"H:i" }}</td>
				</tr>
				<tr>
					<td class="blank wo-solid-left"><br></td>
					<td class="wo-bg">Falla</td>
					<td class="center"><input type="checkbox" name="is_falla" value=True></td>
					<td class="wo-bg">Salida est</td>
					<td><input id="out-date" type="date" name="output_date" required placeholder='YYYY-MM-DD' pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"></td>
					<td class="wo-solid-right"><input id="out-time" type="time" name="output_time" required placeholder='HH:MM' pattern="(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9])"></td>
				</tr>
				<tr>
					<td class="blank wo-solid-left"><br></td>
					<td class="wo-bg">Daños</td>
					<td class="center"><input type="checkbox" name="is_dannos" value=True></td>
					<td colspan="3" class="blank wo-solid-right"><br></td>
				</tr>
				<tr>
					<td class="blank wo-solid-bottom wo-solid-left"><br></td>
					<td class="wo-solid-bottom wo-bg">Modificacion</td>
					<td class="wo-solid-bottom center"><input type="checkbox" name="is_modificacion" value=True></td>
					<td colspan="3" class="blank wo-solid-right wo-solid-bottom"><br></td>
				</tr>
				<tr>
					<td colspan="6" class="blank"><br></td>
				</tr>
				<tr>
					<td colspan="6" class="blank"><b>Diagnóstico / Intervención.</b></td>
				</tr>
				<tr>
					<td colspan="6" class="wo-solid-top wo-solid-right wo-solid-left wo-bg">Descripción de trabajo / falla</td>
				</tr>
				<tr>
					<td colspan="6" class="wo-solid-right wo-solid-left">
						<input class="wo-form-text" type="text" name="work_description_1">
					</td>
				</tr>
				<tr>
					<td colspan="6" class="wo-solid-right wo-solid-left wo-bg">Trabajo desarrollado</td>
				</tr>
				<tr>
					<td colspan="6" class="wo-solid-right wo-solid-left">
						<textarea class="wo-form-textarea" name="developed_work" rows="4" required></textarea>
					</td>
				</tr>
				<tr>
					<td colspan="6" class="wo-solid-right wo-solid-left wo-bg">Trabajo pendiente</td>
				</tr>
				<tr>
					<td colspan="6" class="wo-solid-right wo-solid-left wo-solid-bottom">
						<textarea class="wo-form-textarea" name="pending_job" rows="4"></textarea>
					</td>
				</tr>
				<tr>
					<td colspan="6" class="blank"><br></td>
				</tr>
				<tr>
					<td colspan="6" class="blank"><b>Repuestos Empleados.</b></td>
				</tr>
				<tr>
					<td colspan="6" class="blank">
						<button type="button" name="add_row" id="spare_part_add_row">Add another Spare Part</button>
					</td>
				</tr>
				<tr>
					<td class="wo-solid-top wo-solid-left wo-bg">N° Parte</td>
					<td class="wo-solid-top wo-bg">Descripción</td>
					<td class="wo-solid-top wo-solid-right wo-bg">Cantidad</td>
					<td colspan="3" class="blank"><br></td>
				</tr>
				<tr class="spare_part_row">
					<td class="wo-solid-left"><select class="wo-form-select" name="spare_part_number_1">
						<option selected value> -- select an option -- </option>
						{% for entry in spare_parts %}
							<option value="{{entry.id}}">{{entry.spare_part_type}} F: {{ entry.factory_number }} / S: {{ entry.sage_number }}</option>
						{% endfor %}
					</select></td>
					<td><br></td>
					<td class="wo-solid-right">
						<input class="wo-form-text" type="text" name="spare_part_quantity_1">
					</td>
					<td colspan="3" class="blank"><br></td>
				</tr>
				<tr>
					<td colspan="3" class="blank wo-solid-top"><br></td>
					<td colspan="3" class="blank"><br></td>
				</tr>
				<tr>
					<td colspan="6" class="blank">
						<button type="button" name="DelRow" id="spare_part_del_row">Remove last Spare Part</button>
					</td>
				</tr>
				<tr>
					<td colspan="6" class="blank"><b>Lubricantes Empleados.</b></td>
					</tr>
				<tr>
					<td class="wo-solid-top wo-solid-left wo-bg">Descripción</td>
					<td class="wo-solid-top wo-solid-right wo-bg">Cantidad</td>
					<td colspan="4" class="blank"><br></td>
				</tr>
				<tr>
					<td class="wo-solid-left"><select class="wo-form-select" name="input_1">
						<option selected value> -- select an option -- </option>
						{% for entry in inputs %}
							<option value="{{ entry.input_type }}">{{ entry.input_type }}</option>
						{% endfor %}
					</select></td>
					<td class="wo-solid-right"><input type="number" class="wo-form-text" name="input_quantity_1" min="0"></td>
					<td colspan="4" class="blank"><br></td>
				</tr>
				<tr>
					<td colspan="6" class="blank"><br></td>
				</tr>
				<tr>
					<td colspan="6" class="blank"><b>Control de Salida.</b></td>
				</tr>
				<tr>
					<td colspan="2" class="blank wo-solid-top wo-solid-left"><br></td>
					<td class="wo-solid-top wo-bg">Fecha salida</td>
					<td class="wo-solid-top"><br></td>
					<td class="wo-solid-top wo-bg">Hora salida</td>
					<td class="wo-solid-top wo-solid-right"><br></td>
				</tr>
				<tr>
					<td colspan="6" class="blank wo-solid-right wo-solid-left"><br></td>
				</tr>
				<tr>
					<td class="blank wo-solid-left">Nombre Mecánico</td>
					<td colspan="2" class="blank">{{ user.first_name }} {{ user.last_name }}</td>
					<td class="blank">Firma</td>
					<td colspan="2" class="blank wo-solid-right">_________________________</td>
				</tr>
				<tr>
					<td class="blank wo-solid-bottom wo-solid-left">Nombre Team Leader</td>
					<td colspan="2" class="blank wo-solid-bottom">Carlos Orellana / Esteban Morales</td>
					<td class="blank wo-solid-bottom">Firma</td>
					<td colspan="2" class="blank wo-solid-right wo-solid-bottom">_________________________</td>
				</tr>
			</table>
			<p></p>
			<input type="submit" value="Process order">
		</form>
		<script src="{% static 'maintenance/js/jquery-3.1.1.js' %}"></script>
		<script src="{% static 'maintenance/js/workorder-jquery.js' %}"></script>
	</body>
</html>
